a h2, h2.text-center {
    color: #fff !important;
}

.btn-color{
  background-color: hsl(0, 0%, 17%);
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #b0b3b8 !important;
}

body {
    background-color: lab(23.52% 0 0) !important;
}

/* Botón de login verde */
.btn.btn-color, .btn-color {
    background-color: #28a745 !important;
    color: #fff !important;
    border: none;
}
.btn.btn-color:hover, .btn-color:hover {
    background-color: #218838 !important;
    color: #fff !important;
}

a{
  text-decoration: none;
}